@import "./variable";

.chat-main {
  background-color: $warm;
  height: 100%;
  padding-top: 24px;
  width: calc(100% - 300px);
  float: right;
  box-sizing: border-box;
  .main-header {
    border-bottom: solid;
    border-color: $gray;
    padding: 0 40px;
    position: relative;
    #current_group {
      padding-top: 35px;
      color: #333333;
      font-size: 20px;
    }
    .main-header__left-box__member-list {
      padding-top: 15px;
      color: $f-gray;
      font-size: 12px;
      .main-header__left-box__member-list__member {
        padding-left: 15px;
        display:  inline-block;
      }
    }
    .main-header__edit-btn {
      position: absolute;
      right: 40px;
      top: 28px;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      border: solid;
      border-color: $lightblue;
      border-width: thin;
      color: $lightblue;
    }
  }
  .messages {
    padding-top: 46px;
    .message {
      padding-left: 40px;
      .message__upper-info {
        .message__upper-info__talker {
          font-size: 16px;
          font-weight: bold;
          color: $f-black;
          display: inline-block;
        }
        .message__upper-info__date {
          display: inline-block;
          padding-left: 10px;
          font-size: 12px;
          color: $f-gray;
        }
      }
      .message__text {
        padding-top: 10px;
        padding-bottom: 40px;
        font-size: 14px;
        color: $f-black;
      }
    }
  }
  .form-message {
    padding: 20px 40px;
    bottom: 0;
    position: fixed;
    width: calc(100% - 300px);
    height: 90px;
    z-index: 5;
    background-color: $gray;
    .input-box {
      display: inline-block;
      margin-top: 20px;
      width: calc(100% - 215px);
      height: 50px;
      background-color: $white;
      #message_content {
        padding-left: 10px;
        width: calc(100% - 50px);
        height: 45px;
      }
      .input-box__image {
        padding-top: 15px;
        vertical-align: bottom;
      }
      #filesend {
        display: none;
      }
    }
    .submit-btn {
      display: inline-block;
      text-align: center;
      line-height: 50px;
      width: 100px;
      height: 50px;
      margin-left: 10px;
      background-color: $lightblue;
      color: $white;
    }
  }
}