@import "./variable";

.chat-side {
  background-color: $blue;
  padding-top: 24px;
  width: 300px;
  height: 100%;
  float: left;
  display: block;
  box-sizing: border-box;
  .side-header {
    background-color: $navy;
    height: 100px;
    .side-header__box {
      padding-top: 40px;
      padding-left: 20px;
      padding-right: 20px;
      .side-header__box__user-name {
        width: 100px;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        float: left;
        display: block;
        z-index: 3;
      }
      .side-header__box__menu {
        flex-flow: row-reverse;
        .side-header__box__menu__new-group {
          float: left;
          margin-left: 120px;
          .fa-edit {
            color: #ffffff;
          }
        }
        .side-header__box__menu__edit-user {
          float: right;
          .fa-cog {
            color: #ffffff;
          }
        }
      }  
    }
  }
  .groups {
    padding: 20px 20px;
    .group__group-name {
      color: #ffffff;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
    }
    .group__latest-message {
      margin-top: 5px;
      margin-bottom: 35px;
      color: #ffffff;
      font-size: 11px;
      font-weight: bold;
    }
  }
}