@import "./variable";

.notification {
  position: fixed;
  width: 100%;
  z-index: 3;
  .notice {
    background-color: $lightblue;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
  }
}