@import "font-awesome";

@import "./reset";
@import "./variable";
@import "./flash-box";

body,html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
}